body {
    font-family: Arial, sans-serif;
    background-image: url('images/fondo.jpg');
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.80);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.photos img {
    width: 100%;
    max-width: 250px;
    margin: 10px;
    border-radius: 10px;
}

header {
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

header h1, header h2 {
    margin: 0;
}

.details p {
    font-size: 1.2em;
}

.map iframe {
    width: 100%;
    border-radius: 10px;
}

.whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.whatsapp-button:hover {
    background-color: #1ebd56;
}
