body {
    font-family: 'Arial', sans-serif;
    background-image: url('images/fondo.jpg');
    color: #333;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}

header {
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #333;
    margin: 10px 0 0;
}

.dedication {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555;
}

.photos {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    user-select: none;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.1em;
}

.details p {
    font-size: 1.2em;
}

.map iframe {
    width: 100%;
    border-radius: 10px;
}

.whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.whatsapp-button:hover {
    background-color: #1ebd56;
}